node_modules/
dist/
apps/web-builder/.data/
apps/web-builder/public/static/*
!apps/web-builder/public/static/.gitkeep
.env.local
.env.*.local
.env.*
.turbo/
.vite/
.astro
apps/astro/src/pages
apps/astro/src/data
apps/react/src/pages
apps/react/src/data
archive/
*.zip






