node_modules/
dist/
apps/web-builder/.data/
apps/web-builder/public/uploads/*
!apps/web-builder/public/uploads/.gitkeep
.env.local
.env.*.local
.env.*
.turbo/
.vite/
.astro


archive/
*.zip
*.webp
*.png
*.jpg


packages/server/
packages/browser/src/db/*
packages/browser/src/google/*
packages/browser/src/s3/*
packages/browser/src/worker/*
packages/browser/drizzle.config.ts

apps/astro/
apps/react/
apps/web-builder
#data




